<form method="post">
	<input name="CQRD[CSRF]" value="<?=\Oonix\Cqrd\Cqrd::s()->csrf()?>" />
	<input name="CQRD[LOGIN][user]" />
	<input name="CQRD[LOGIN][password]" />
	<input name="CQRD[LOGIN][UNLOCK][]" value="<?=\Oonix\Cqrd\User::unlockHmac("masterkey")?>" />
	<input type="submit" value="Log in" />
</form>
